body{
    background-color: white;
}

.container{
    width: 1029px;
    margin: 0 auto;


    .banner{
        width: 70%;
        display: block;
        margin: 0 auto;
        
        .banner1{
        
            border: 0.5px solid rgb(168, 160, 160);
            border-radius: 9px;
            padding: 3px;   
            
        }
    }
    .banner1:hover{
        border: 1.5px solid rgb(107, 107, 120);


    }
   

}

.meniu{
    width: 80%;
    margin: 0 auto;

    .meniuListi{
        font-size:15px;
 position: fixed;
 left: 700px;
 top: 15px;
 transform:translate(-50%, -50%);

        .meniuListiItem{
            display: inline-block;
            font-size: small;
            margin-left: 20px;
            margin-top:15px;

            
        }
    }

    .meniuListiItem:hover{
    
            border: 1.5px solid rgb(107, 107, 120);
    }





    }

